# Создано https://www.toptal.com/developers/gitignore/api/xcode,macos,swift
# Отредактируйте на https://www.toptal.com/developers/gitignore?templates=xcode,macos,swift

# ## macOS ###
# Общие
.DS_Store
.AppleDouble
.LSOverride

# Значок должен заканчиваться двумя \ r
Значок


# Миниатюры
._ *

# Файлы, которые могут появиться в корне тома
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
. Мусор
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Каталоги, потенциально созданные на удаленном ресурсе AFP
.AppleDB
.AppleDesktop
Сеть  Trash  Folder
Временные  предметы
.apdisk

# ## Свифт ###
# Xcode
#
Участники # gitignore: не забудьте обновить Global / Xcode.gitignore, Objective-C.gitignore и Swift.gitignore

# # Пользовательские настройки
xcuserdata /

# # совместимость с Xcode 8 и ранее (игнорирование запуска Xcode 9 не требуется)
* .xcscmblueprint
* .xccheckout

# # совместимость с Xcode 3 и ранее (игнорирование запуска Xcode 4 не требуется)
build /
DerivedData /
* .moved-aside
* .pbxuser
! default.pbxuser
* .mode1v3
! default.mode1v3
* .mode2v3
! default.mode2v3
* .perspectivev3
! default.perspectivev3

# # Специфика Obj-C / Swift
* .hmap

# # Упаковка приложений
* .ipa
* .dSYM.zip
* .dSYM

# # Детские площадки
timeline.xctimeline
игровая площадка.xcworkspace

# Swift менеджер пакетов
# Добавьте эту строку, если вы не хотите проверять исходный код из зависимостей Swift Package Manager.
# Пакеты /
# Package.pins
# Package.resolved
# * .xcodeproj
# Xcode автоматически генерирует этот каталог с файлом .xcworkspacedata и xcuserdata
# поэтому он не нужен, если вы не добавили файл конфигурации пакета в свой проект
# .swiftpm

.build /

# Какао-стручки
# Мы не рекомендуем добавлять каталог Pods в ваш .gitignore. тем не мение
# судите сами, плюсы и минусы указаны по адресу:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
# Стручки /
# Добавьте эту строку, если вы не хотите проверять исходный код из рабочей области Xcode
# * .xcworkspace

# Карфаген
# Добавьте эту строку, если не хотите проверять исходный код из зависимостей Carthage.
# Carthage / Checkouts

Карфаген / Постройка /

# Управление зависимостями Accio
Зависимости /
.accio /

# скоростная полоса
# Не рекомендуется хранить скриншоты в репозитории git.
# Вместо этого используйте fastlane для повторного создания снимков экрана всякий раз, когда они необходимы.
# Для получения дополнительной информации о рекомендуемой настройке посетите:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

Fastlane / report.xml
fastlane / Preview.html
fastlane / screenshots / ** / * .png
fastlane / test_output

# Внедрение кода
# После новых инструментов внедрения кода создается папка / iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject /

# ## Xcode ###
# Xcode
Участники # gitignore: не забудьте обновить Global / Xcode.gitignore, Objective-C.gitignore и Swift.gitignore




# # Патч Gcc
/ * .gcno

# ## Патч Xcode ###
* .xcodeproj / *
! * .xcodeproj / project.pbxproj
! * .xcodeproj / xcshareddata /
! * .xcworkspace / contents.xcworkspacedata
** / xcshareddata / WorkspaceSettings.xcsettings

# Конец https://www.toptal.com/developers/gitignore/api/xcode,macos,swift
